body {
	background-color: #328CC1;
	font-family: 'Avenir', sans-serif;
	box-sizing: border-box;
}

main {
	max-width: 400px;
	padding: 0 40px 0 40px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.logo {
	height: 35px;
	border: 1px solid black;
	display: block;
	margin-right: auto;
	margin-left: auto;

}




