body {
	background-color: #298eea;
	font-family: 'Roboto', helvetica, sans-serif;
	box-sizing: border-box;
}

main {

	border: 1px solid black;

}

.logo {
    margin: 40px 0 20px 0;
	height: 35px;
	border: 1px solid black;
	display: block;
	margin-right: auto;
	margin-left: auto;
}


form {
	padding: 40px 40px 0 40px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	background-color: white;
	position: relative;
}


h1.sign-up {
	text-align: center;
	margin-top: 10px;
	font-size: 35px;	
	color: #565656;
	font-weight: normal;

}

label {
	margin: 20px 0 20px 0;
	display: block;	
}

input {
	display: block;
	width: 303px;
	padding: 15px;
	border: 2px solid #e7e7e7;
	background-color: #f8f8f8;
	font-size: 16px;
	border-radius: 5%
}

button {
	background-color: #15cd72;
	font-size: 22px;
	color: white;
	margin: 20px 0 20px 0;
	width: 335px;
	padding: 15px;
	border: none;
	border-radius: 2%

}

a.forgot-password {
	color: #757575;
	font-size: 14px;
	border: 1px solid black;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.log-in {

}


