body {
	background-color: #298eea;
	font-family: 'Roboto', helvetica, sans-serif;
	box-sizing: border-box;
}

.logo {
    margin: 60px auto 40px;
	height: 35px;
	display: block;
}

form {
	margin: 0px auto;
	width: 400px;
	background-color: white;
	border-radius: 1%;
}

fieldset {
	/* I had to remove the border....- */
	border: none;
	margin: 20px;
	padding: 20px 10px 30px 10px;

}


h1.sign-up {
	text-align: center;
	font-size: 35px;	
	color: #565656;
	font-weight: normal;
}

label {
	margin: 25px 0 20px 0;
	display: block;	
}

input {
	display: block;
	width: 303px;
	padding: 15px;
	border: 2px solid #e7e7e7;
	background-color: #f8f8f8;
	font-size: 16px;
	border-radius: 5%
}

button {
	background-color: #15cd72;
	font-size: 22px;
	color: white;
	margin: 25px 0 25px 0;
	width: 335px;
	padding: 15px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: #0b9e55;
}

div.forgot-password {
	color: #757575;
	font-size: 14px;
	text-align: center;
}

a.forgot-password {
	color: #757575;
	font-size: 14px;
}

div.log-in {
	text-align: center;
	color: white;
	margin-top: 20px;
}

a.log-in {
	color: white;
}


